<!-- <app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;" [name]="player"
  [ngStyle]="{'top.px':200 + (i * 80)}" [playerActive]="i == game.currentPlayer" [image]="game.playerImages[i]"
  class="playerPosition hide-mobile"></app-player> -->

<!-- <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;" [name]="player"
  [ngStyle]="{'top.px':16 + (i * 40)}" [playerActive]="i == game.currentPlayer" [image]="game.playerImages[i]"
  class="playerPosition hide-desktop"></app-player-mobile> -->

<div *ngIf="gameOver" class="gameOver">
  <h1 style="font-family: 'Yusei Magic', sans-serif;">Game Over!</h1>
  <h2 style="font-family: 'Yusei Magic', sans-serif;" routerLink="/">Go to start screen</h2>
</div>
<div *ngIf="!gameOver" class="field">

  <mat-card class="questionWrap">
    <mat-card-title class="question">{{game.currentQuestion.question}}</mat-card-title>

    <mat-card-subtitle>Puncte: {{game.currentQuestion.points}}</mat-card-subtitle>
  </mat-card>

  <button class="ans" mat-raised-button  color="primary">{{game.currentQuestion.a}}</button>
  <button class="ans" mat-raised-button  color="primary">{{game.currentQuestion.b}}</button>
  <button class="ans" mat-raised-button  color="primary">{{game.currentQuestion.c}}</button>
  <button class="ans" mat-raised-button  color="primary">{{game.currentQuestion.d}}</button>
  <button *ngIf="!gameOver && !this.game.playerNames.includes(this.playerName)" mat-fab color="primary"
    (click)="openDialog()" class="btn-add">
    <mat-icon>add</mat-icon>
  </button>

  <div class="mobileAns">
    <a (click)="checkAnswer(game.currentQuestion.a)" class="myButton">{{game.currentQuestion.a}}</a>
    <a (click)="checkAnswer(game.currentQuestion.b)" class="myButton">{{game.currentQuestion.b}}</a>
    <a (click)="checkAnswer(game.currentQuestion.c)" class="myButton">{{game.currentQuestion.c}}</a>
    <a (click)="checkAnswer(game.currentQuestion.d)" class="myButton">{{game.currentQuestion.d}}</a>
  </div>
